* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
.heading {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.topper {
  margin: 20px;
  padding: 10px;
}
.table {
  margin-left: 30px;
  border-collapse: collapse;
  border: none;
}
