* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
.heading {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.topper {
  width: 80%;
  height: 100%;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px 20px;
  display: inline-flex;
  justify-content: space-evenly;
}
